<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EllaConfiguration" type="Ella.Internal.EllaConfiguration, Ella"/>
  </configSections>

  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <EllaConfiguration NodeId="18" NetworkPort="33332" DiscoveryPortRangeStart="33330" DiscoveryPortRangeEnd="33333"/>

</configuration>